.header__nav{
    height: 10vh;
    background-color: $rose;
    padding: 0 11vw 0 11vw;
    
    a{
        font-size: 1.8rem;
        color: white;
    }

    .nav__link{
        border-right: 1px solid white;
        padding-inline: 20px !important;
    }
    .nav__link--z{
        border: none;
    }

    .header__brand{
        font-size: 2.5rem;
        font-weight: bold;
        &:hover{
            color: white;
        }
    }

}